<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Lyne Components SSR</title>

    <script type="module" src="/js/lyne-test/dist/lyne-components/lyne-components.esm.js"></script>

    <script nomodule src="/js/lyne-test/dist/lyne-components/lyne-components.js"></script>

  </head>
  <body>
    {{ content | safe }}
  </body>
</html>
