---
layout: layout.njk
---

<h1>Server- & Client-Side Hydration example</h1>
<p>This button is a Webcomponenten which uses ShadowDom. The button calls alert() via Javascript inside the component.</p>
<p>If the alert shows, that is proof that client-side hydration is working</p>
<p>If you disable javascript in the browser, and the button still has a red border, that is proof that server-side hydartion is working.</p>
<lyne-alert></lyne-alert>
