---
layout: layout.njk
---

<h1>Hydration</h1>

<p>Our components need Javascript to be interpreted, displayed and behave correctly (interaction). Without hydration, clients would first need to download our StencilJS loader and execute it, so that the browser understands our custom-elements (on this page, lyne-button is an unknown html element for the browser).</p>

<p>In the server-side hydration, we make part of this "interpretation" on the server, rendering the contents of the component to plain html, and attaching all the css-classes needed for the component to have the correct appearance.</p>

<p>On the client-side, we kick in another hydration to attach all neccessary event handlers to the elements to make it interactive.</p>

<h2>Server-Side</h2>

<p>To test the server-side hydration, you have to disable JavaScript on this page. Then you'll see what you get directly from the server. You should not see any visual difference by disabling JavaScript.</p>


<h2>Client-Side</h2>

<p>The button dispatches an event on click with JavaScript. In this file, we're listening to that event and showing an alert as soon as it is received.</p>
<p>So if the alert shows up if you click on the button, that means that client-side hydration is working (make sure you enable JavaScript again).</p>
<lyne-button event-id="eleventy-event"></lyne-button>

<h2>Component with named slots</h2>
<lyne-accordion aria-labelledby="">
    <lyne-accordion-item event-id="id1" heading="Accordion Item 1" heading-level="2" icon="">
        <p slot="content">1 Donec sed odio operae, eu vulputate felis rhoncus. Curabitur est gravida et libero vitae dictum. Me non paenitet nullum festiviorem excogitasse ad hoc.</p>
        <p slot="content">2 Donec sed odio operae, eu vulputate felis rhoncus. Curabitur est gravida et libero vitae dictum. Me non paenitet nullum festiviorem excogitasse ad hoc.</p>
        <p slot="content">3 Quis aute iure reprehenderit in voluptate velit esse. Ab illo tempore, ab est sed immemorabili. Non equidem invideo, lit aliquet. Nihilne te nocturnum praesidium Palati, nihil urbis vigiliae.</p>
        <svg slot="icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="m17.8436,12.1382-3.99-3.99196-.7072.70693,3.1366,3.13823H5v1h11.287l-3.1413,3.1555.7086.7056,3.99-4.008.3519-.3535-.3526-.3528z"></path></svg>
    </lyne-accordion-item>

    <lyne-accordion-item heading="Accordion Item 2" heading-level="2">
        <p slot="content">1 Donec sed odio operae, eu vulputate felis rhoncus. Curabitur est gravida et libero vitae dictum. Me non paenitet nullum festiviorem excogitasse ad hoc.</p>
        <p slot="content">2 Donec sed odio operae, eu vulputate felis rhoncus. Curabitur est gravida et libero vitae dictum. Me non paenitet nullum festiviorem excogitasse ad hoc.</p>
        <p slot="content">3 Quis aute iure reprehenderit in voluptate velit esse. Ab illo tempore, ab est sed immemorabili. Non equidem invideo, lit aliquet. Nihilne te nocturnum praesidium Palati, nihil urbis vigiliae.</p>
    </lyne-accordion-item>

    <lyne-accordion-item event-id="id3" heading="Accordion Item 3" heading-level="2" icon="">
        <p slot="content">1 Donec sed odio operae, eu vulputate felis rhoncus. Curabitur est gravida et libero vitae dictum. Me non paenitet nullum festiviorem excogitasse ad hoc.</p>
        <p slot="content">2 Donec sed odio operae, eu vulputate felis rhoncus. Curabitur est gravida et libero vitae dictum. Me non paenitet nullum festiviorem excogitasse ad hoc.</p>
        <p slot="content">3 Quis aute iure reprehenderit in voluptate velit esse. Ab illo tempore, ab est sed immemorabili. Non equidem invideo, lit aliquet. Nihilne te nocturnum praesidium Palati, nihil urbis vigiliae.</p>
        <svg slot="icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="m17.8436,12.1382-3.99-3.99196-.7072.70693,3.1366,3.13823H5v1h11.287l-3.1413,3.1555.7086.7056,3.99-4.008.3519-.3535-.3526-.3528z"></path></svg>
    </lyne-accordion-item>
</lyne-accordion>

<script>
window.addEventListener('lyne-button_click', function(data) {
    alert("Event received with event-id: " + data.detail);
});
</script>
